.list {
    height: auto;

    background: #FFFFFF;
    box-shadow: 0px 0.5px 1.75px rgba(0, 0, 0, 0.039), 0px 1.85px 6.25px rgba(25, 25, 25, 0.25);
    border-radius: 4px;
    margin-top: 20px;
    padding-bottom: 20px;
}

.indicator-text {
    text-align: center;
    margin-top: 5px;
}

.co2-indicator {
    display: flex;
    min-width: 80px;
    min-height: 80px;
    aspect-ratio: 1 / 1;
    border-radius: 40px;
}

@media only screen and (max-width: 1300px) {
    div#co2 {
        min-width: 6vw;
        min-height: 6vw;
    }

    div#co2-text {
        font-size: 1.2vw;
    }
}

.co2-value {
    display: flex;
    margin: auto;
    white-space: pre-line;
    text-align: center;
    font-weight: bold;
}

.people-indicator {
    display: flex;
    width: 80px;
    height: 80px;
}

.clickable {
    cursor: pointer;
}

.icons-right-side {
    margin-right: 30px;
}