.add-edit-dialog-sub-header {
  margin-bottom: 0px;
  font-weight: bold;
  font-size: clamp(0.9rem, 1.5vw, 1rem);
}

.add-edit-dialog-header {
  font-size: clamp(1.1rem, 2vw, 1.3rem) !important;
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.add-edit-dialog-cross {
  cursor: pointer;
}

.add-edit-err {
  color: red;
  text-align: center;
  margin-top: 30px;
}

@media only screen and (max-width: 660px) {
  .add-edit-dialog-padding {
    padding: 0.6rem;
  }
  .add-edit-dialog-name {
    max-width: 464px;
    width: 100%;
  }
}
